
<table>
  <thead>
    <tr>
      <th>Feed</th>
      <th>Title</th>
      <th>Link</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.feed.title, entry.feed %></td>
        <td><%= entry.title %></td>
        <td><%= entry.link %></td>
        <td><%= entry.description %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

