<p id="notice"><%= notice %></p>

<p>
  <strong>Feed:</strong>
  <%= link_to @entry.feed.title, @entry.feed %>
</p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @entry.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
